<h2>About AwesomeSource</h2>
<p>AwesomeSource is an independent software company specialising in the development
and maintenance of geophysical mapping applications.  AwesomeSource was founded in 2010,
and is based in Melbourne, Australia, the home of good coffee, excellent food, and terrible
weather.
</p>
<p>Click here for contact details</p>